@import "../../variables";

.Creatives {
  background: #333333;
  position: absolute;

  .block_container {
    height: 500px;
    width: 500px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);

    .block {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
    }
  
    .block.first {
      height: 10%;
      width: 10%;

      .parallax_block_first {
        height: 100%;
        width: 100%;
        background: #adfff1;
        position: absolute;
        top: 0;
        left: 0;
      }
    }
  
    .block.second {
      height: 20%;
      width: 20%;

      .parallax_block_second {
        height: 100%;
        width: 100%;
        background: #19ffd6;
        position: absolute;
        top: 0;
        left: 0;
      }
    }
  
    .block.third {
      height: 30%;
      width: 30%;

      .parallax_block_third{
        height: 100%;
        width: 100%;
        background: #00c8a5;
        position: absolute;
        top: 0;
        left: 0;
      }
    }

    .block.fourth{
      height: 40%;
      width: 40%;

      .parallax_block_fourth{
        height: 100%;
        width: 100%;
        background: #00a084;
        position: absolute;
        top: 0;
        left: 0;
      }
    }

    .block.fifth {
      height: 50%;
      width: 50%;

      .parallax_block_fifth{
        height: 100%;
        width: 100%;
        background: #007863;
        position: absolute;
        top: 0;
        left: 0;
      }
    }
  }
}